<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>My Website</h1>
    </header>
    <main>
        <section id="about">
            <p>Welcome to my website! Here, you can find details about my coding journey and other aspects of my life.
                I am a recent graduate with a bachelors degree in Computer Science Honours from Carleton University, Ottawa.
            </p>
        </section>
        <section id="projects">
            <p>Here are some of the coding projects I am most proud of: </p>
            <!-- Button that links to another page -->
            <a href="{{ url_for('projects') }}">
                <button>Go to Projects</button>
            </a>
        </section>
    </main>
    <footer>
        <p>&copy; Oko Ampah 2025</p>
    </footer>
</body>
</html>
