<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <a href="{{ url_for('home') }}">Home</a>
        <h1>My Coding Projects</h1>
    </header>
    <main>
        <section id="project_info">
            <p>This page is dedicated to my coding projects.
            </p>
        </section>
        <section id="project1">
            <h2>Recognizing Printed Handwriting from an Image: </h2>
            <p>In this project I designed and implemented a program that utilized different computer vision algorithms, and a neural network 
                trained on the EMNIST letters dataset to recognize handwritten letters in an image and translate them into digital text.</p>
        </section>
    </main>
    <footer>
        <p>&copy; Oko Ampah 2025</p>
    </footer>
</body>
</html>
